* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', 'Serif', 'Sans-serif';
}

#HomeHeader {
    text-align: center;
    margin-bottom: 50px;
    font-size: 64px;
}

#Recipes {
    align-items: center;
    margin: auto;
    width: 150px;
    background-color: azure;
    font-size: 32px;
    padding-left: 8px;
    border: 2px solid black;
    border-radius: 5px;
}

li {
    margin-top: 10px;
}

.last {
    margin-bottom: 10px;
}