* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', 'Serif', 'Sans-serif';
}

#Home {
    background-color: aqua;
}

h1 {
    text-align: center;
    margin: auto;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 64px;
    border: 2px solid white;
    border-radius: 5px;
}

#HomeHeader {
    background-color: white;
    color: aqua;
}

.Container {
    align-items: center;
    margin: auto;
    width: 200px;
    background-color: white;
    padding-left: 25px;
    padding-right: 10px;
    border: 2px solid white;
    border-radius: 5px;
}

.image {
    align-items: center;
    margin: auto;
    width: 150px;
}

a {
    font-size: 32px;
}

.recipe {
    margin: auto;
    width: 1000px;
    display: flex;
    flex-direction: row;
}

.ingredients, .steps {
    margin-left: 50px;
}

#pizza {
    display: flex;
    flex-direction: row;
}

.home_link {
    margin: auto;
    width: 50px;
}

.main {
    border: 2px solid black;
}

ul {
    padding-left: 25px;
    padding-right: 25px;
}

ol {
    padding-left: 25px;
    border: 2px solid black;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

div {
    align-items: center;
}